:root  {
    background-color: #ecf5ff;
    font-size: 62%;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333
}

body {
    font-family: Arial;
    font-size: 120%;
  }
  
  a {
    color: #b9068f;
    text-decoration: none;
    transition: color 0.1s;
  }
  
  a:hover {
    color: #8570a5;
  }

  h1  {
    font-size: 5.4rem;
    color: #073a02;
    margin-bottom: 5rem;
  }

  h1 > span  {
   font-size: 2.4rem;
   font-weight: 500;
  }

  h2  {
    font-size: 2.8rem;
    font-weight: 500;
  }

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
  }

  .container > *  {
    width: 100%;
  }

  .flex-column {

  }

  .flex-column  {

  }
  
  button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #563d7c;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
    text-decoration: none;
  }
  
  button:hover {
    background-color: #8570a5;
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transition: transform 150em;
  }
  
  .choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 100%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #f3edfc;
  }
  
  .wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }
  
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }
  
  .scores {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #ccc;
  }
  
  .timer {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  